---
services:
  acerestreamer-backend:
    image: acerestreamer-backend:latest
    container_name: acerestreamer-backend-playwright

    environment:
      ACERE_EXTERNAL_URL: "http://acerestreamer-backend-playwright:5100"
      ACERE_FIRST_SUPERUSER_USERNAME: "admin"
      ACERE_FIRST_SUPERUSER_PASSWORD: ""
      ACERE_APP__ACE_ADDRESS: "http://acestream-http-proxy:6878" # Leave this as is
    ports:
      - "5100"
    volumes: # This is where the database and config is stored
      - instance:/app/instance
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:5100/api/v1/health"]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 10s

  acestream-frontend:
    image: acerestreamer-frontend:latest
    container_name: acerestreamer-frontend-playwright
    environment:
      VITE_API_URL: "http://acerestreamer-backend-playwright:5100"
    depends_on:
      acerestreamer-backend:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1/"]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 10s

  playwright:
    image: mcr.microsoft.com/playwright:v1.57.0-noble
    container_name: acerestreamer-playwright-tests
    working_dir: /tests
    command: ["npx", "playwright", "test", "--reporter=html"]
    environment:
      CI: "true"
      VITE_API_URL: "http://acerestreamer-backend-playwright:5100"
      FIRST_SUPERUSER: "${ACERE_FIRST_SUPERUSER_USERNAME}"
      FIRST_SUPERUSER_PASSWORD: "${ACERE_FIRST_SUPERUSER_PASSWORD}"
    depends_on:
      acerestreamer-backend:
        condition: service_healthy
      acestream-frontend:
        condition: service_healthy
    volumes:
      - .:/tests

volumes:
  instance:
