<!DOCTYPE html>
<html>

<head>
    <title>403 FORBIDDEN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-v12-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-v12-latin-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-v12-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/zy.css">
</head>

<body>
    <h1>403 FORBIDDEN</h1>
    <p>Nope your link isnt valid</p>
    <p>{{ message }}</p>
</body>

</html>
