<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ace Restreamer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
  <link rel="preload" href="/static/fonts/noto-sans-display-latin-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/noto-sans-display-latin-400italic.woff2" as="font" type="font/woff2"
    crossorigin>
  <link rel="preload" href="/static/fonts/noto-sans-display-latin-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/noto-sans-display-latin-500italic.woff2" as="font" type="font/woff2"
    crossorigin>
  <link rel="preload" href="/static/fonts/fira-code-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/fira-code-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/fira-code-600.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/fira-code-700.woff2" as="font" type="font/woff2" crossorigin>
  <script type="text/javascript" src="/static/hls.min.js"></script>
  <script type="text/javascript" src="/static/acestreamwebplayer.js"></script>
  <script type="text/javascript"
    src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
  <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/zy.css" />
</head>

<body>
  {{ rendered_header }}
  <h2 id="stream-name">No Stream Loaded</h2>
  <div id="player-container">
    <video id="video" width="640" height="360" x-webkit-airplay="allow" airplay="allow"></video>
  </div>
  <div id="video-controls">
    <input type="button" id="reload-stream" value="Reload Stream" onclick="loadPlayStreamFromHash()">
    <input type="button" id="toggle-video-size" value="Player Size" onclick="togglePlayerSize()">
    <input type="button" id="reload-tables" value="Reload Tables" onclick="populateTables()">
  </div>
  <h3>Stream Info</h3>
  <table id="stream-info">
    <tr>
      <td>Player Status</td>
      <td class="status-message" id="player-status">No stream loaded</td>
    </tr>
    <tr>
      <td>Stream Status</td>
      <td class="status-message" id="stream-status">Javascript not loaded</td>
    </tr>
    <tr>
      <td>Direct URL</td>
      <td class="status-message" id="stream-url">No stream loaded</td>
    </tr>
  </table>
  <h3>Load Ace Stream</h3>
  <input type="text" id="stream-id-input" placeholder="Enter stream ID">
  <button id="load-stream-button">Load</button>
  <h3>Ace Stream Backend</h3>
  <table id="ace-info">
  </table>
  <h3>Stream List</h3>
  <table id="stream-table"></table>
</body>

</html>
