<header>
  <h1>{{ page_title }}</h1>
  <nav>
    <ul>
      <li><a href="/stream">Web Player</a></li>
      <li><a href="/info/guide">Guide</a></li>
      <li><a href="/info/iptv">IPTV Guide</a></li>
      <li><a href="/info/api">API Information</a></li>
    </ul>
    <hr>
  </nav>
</header>
