<!DOCTYPE html>
<html>

<head>
  <title>Ace Restreamer</title>
  <script src="/static/hls.min.js"></script>
  <script src="/static/acestreamwebplayer.js"></script>
  <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/zy.css" />
</head>

<body>
  <h1>Ace Restreamer</h1>
  <p>Web playback will only work depending on the stream source's audio and video codecs</p>
  <h2 id="stream-name">No Stream Loaded</h2>
  <p>{{ stream_url }}</p>
  <video id="video" controls width="640" height="360"></video>
  <code id="stream-status">No stream loaded</code>
  <p>Direct stream url, open with VLC or MPV<br>
    <code id="direct-url">...No stream loaded</code>
  </p>
  <div id="stream-manual-input"></div>
  <h3>Stream List</h3>
  <table id="stream-table"></table>
</body>

</html>
