<!DOCTYPE html>
<html>

<head>
  <title>Ace Restreamer</title>
  <script src="/static/hls.min.js"></script>
  <script src="/static/acestreamwebplayer.js"></script>
  <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/zy.css" />
</head>

<body>
  <h1>Ace ReStreamer</h1>
  <h2 id="stream-name">No Stream Loaded</h2>
  <video id="video" controls width="640" height="360"></video>
  <h3>Stream Info</h3>
  <table>
    <tr>
      <td>Status</td>
      <td><code id="stream-status">Javascript not loaded</code></td>
    </tr>
    <tr>
      <td>Direct URL</td>
      <td><code id="stream-url">No stream loaded</code></td>
    </tr>
  </table>
  <h3>Load Ace Stream</h3>
  <input type="text" id="stream-id-input" placeholder="Enter stream ID">
  <button id="load-stream-button">Load</button>
  <h3>Stream List</h3>
  <table id="stream-table"></table>
</body>

</html>
