<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-400italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-700.woff2" as="font" type="font/woff2" crossorigin>
    <script src="/static/apiplayground.js"></script>
    <link rel="stylesheet" href="/static/zy.css" />
</head>

<body>
    {{ rendered_header }}
    <h3>Web Endpoints</h3>
    <table id="web-endpoints" class="api-table">
        <tr>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>/</td>
            <td>Login page</td>
        </tr>
        <tr>
            <td>/stream</td>
            <td>Stream webplayer</td>
        </tr>
        <tr>
            <td>/hls/</td>
            <td>Reverse proxy for ace m3u8 files</td>
        </tr>
        <tr>
            <td>/ace/c/</td>
            <td>Proxy for ace stream .ts files</td>
        </tr>
        <tr>
            <td>/iptv<br>/iptv.m3u<br>/iptv.m3u8</td>
            <td>IPTV m3u8 playlist</td>
        </tr>
        <tr>
            <td>/epg<br>/epg.xml<br>/xmltv<br>/xmltv.php</td>
            <td>EPG XMLTV file</td>
        </tr>
        <tr>
            <td>/info/guide</td>
            <td>Webapp and media player guide</td>
        </tr>
        <tr>
            <td>/info/iptv</td>
            <td>IPTV guide page</td>
        </tr>
        <tr>
            <td>/info/api</td>
            <td>API information</td>
        </tr>
    </table>
    <h3>API Endpoints</h3>
    <table id="api-endpoints" class="api-table">
        <tr>
            <th>Path</th>
            <th>Method</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>/api/authenticate</td>
            <td>GET, POST</td>
            <td>Get authentication status<br>Authenticate with password</td>
        </tr>
        <tr>
            <td>/api/streams</td>
            <td>GET</td>
            <td>Get all info for all available streams</td>
        </tr>
        <tr>
            <td>/api/streams/content_id/{content_id}</td>
            <td>GET</td>
            <td>Get stream info for a Ace content_id</td>
        </tr>
        <tr>
            <td>/api/streams/health</td>
            <td>GET</td>
            <td>Stream IDs with health status</td>
        </tr>
        <tr>
            <td>/api/sources</td>
            <td>GET</td>
            <td>Get all stream sources flat</td>
        </tr>
        <tr>
            <td>/api/sources/check</td>
            <td>POST</td>
            <td>Start thread to load streams with missing health.</td>
        </tr>
        <tr>
            <td>/api/ace-pool</td>
            <td>GET</td>
            <td>Get pool of streams, key is the acepool PID</td>
        </tr>
        <tr>
            <td>/api/ace-pool/content_id/{content_id}</td>
            <td>GET, DELETE</td>
            <td>Get acepool info for a content_id<br>Remove lock on instance for a content_id</td>
        </tr>
        <tr>
            <td>/api/ace-pool/pid/{pid}</td>
            <td>GET</td>
            <td>Get the acepool info via pid</td>
        </tr>
        <tr>
            <td>/api/ace-pool/stats</td>
            <td>GET</td>
            <td>Get all instance status proxy of /ace/stat/ on Ace Stream</td>
        </tr>

        <tr>
            <td>/api/ace-pool/stats/content_id/{content_id}</td>
            <td>GET</td>
            <td>Get all instance ace stats for a content_id</td>
        </tr>
        <tr>
            <td>/api/ace-pool/stats/pid/{pid}</td>
            <td>GET</td>
            <td>Get all instance ace stats for an acepool pid</td>
        </tr>
        <tr>
            <td>/api/epgs</td>
            <td>GET</td>
            <td>Get all EPG sources</td>
        </tr>
        <tr>
            <td>/api/health</td>
            <td>GET</td>
            <td>Get health status of the server</td>
        </tr>
    </table>
    <input type="text" id="api-input" placeholder="Enter API endpoint" />
    <button id="do-api-btn">GET</button>
    <br>
    <code id="api-output-status"><br></code> <code id="api-response-time">Duration: </code>
    <code id="api-output-body" class="code-block">
        <br><br><br><br><br><br><br>
    </code>

</body>

</html>
