<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-400italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/static/zy.css" />
</head>

<body>
    {{ rendered_header }}
    <h3>What is this?</h3>
    <p>A webapp that rehosts Ace Streams, allowing watching by a webplayer, media player, or IPTV player.</p>
    <h3>Web player limitations</h3>
    <ul>
        <li>If the stream has a codec that browsers don't support &#40;AC3, DTS&#41;, audio will not work.</li>
        <li>If the source drops, or changes video stream, the video player will freeze, click the reload player button.
        </li>
    </ul>
    <p>To avoid web player limitations, use an external player / IPTV player.</p>
    <h3>Playing with an external media player</h3>
    <p>To play a stream with an external player, copy the Direct &#40;stream&#41; URL</p>
    <h4>VLC &#40;Linux, MacOS, Windows&#41;</h4>
    <p>On Computer, go to Media &gt; Open Network Stream, paste the Direct URL and click Open.</p>
    <p>On Mobile, go to Browse, Open Network Stream, Paste the Direct URL and click Open Network Stream</p>
    <h4>IINA &#40;MacOS&#41;</h4>
    <p>Open IINA and select "Open URL" from the menu. Paste the Direct URL and click Open.</p>
    <h4>MPV &#40;Linux, MacOS, Windows&#41;</h4>
    <p>Run <code>mpv &lt;Direct URL&gt;</code> in a terminal.</p>
    <p>If you would like safer buffering, add the command line
        arguments:<br>
        <code
            class="code-block">--cache=auto --cache-secs=240 --cache-pause=yes --cache-pause-wait=5 --cache-pause-initial=yes</code>
        You can add these to mpv.conf as well. Pause and let it cache extra if you want.
    </p>
    <p>On MacOS you will first need to make a symlink to your path:<br>
        <code class="code-block">sudo ln -s /Applications/mpv.app/Contents/MacOS/mpv /usr/local/bin/mpv</code>
    </p>
</body>

</html>
