<!doctype html>
<html lang="en">

<head>
    <title>Ace Stream WebPlayer Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-400italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/static/zy.css" />
</head>

<body>
    {{ rendered_header }}
    <h3>What is this?</h3>
    <p>A webapp that rehosts Ace Streams, allowing watching by a webplayer, media player, or IPTV player.</p>
    <h3>Limitations</h3>
    <p>If the stream has a codec that browsers don't support (AC3, DTS), audio will not work. Use an external media
        player.</p>
    <h3>Playing with an external media player</h3>
    <p>To play a stream with an external player, copy the Direct (stream) URL</p>
    <h4>VLC</h4>
    <p>On Computer, go to Media &gt; Open Network Stream, paste the Direct URL and click Open.</p>
    <p>On Mobile, go to Browse, Open Network Stream, Paste the Direct URL and click Open Network Stream</p>
    <h4>MPV</h4>
    <p>Run <code>mpv &lt;Direct URL&gt;</code> in a terminal.<br>If you would like safer buffering, add the command line
        arguments:
        <code class="code-block">--cache=auto --cache-secs=240 --cache-pause=yes --cache-pause-wait=5 --cache-pause-initial=yes</code>You
        can add these to mpv.conf as well. Pause and let it cache extra if you want.</p>
    <p>On MacOS you will first need to make a symlink to your path:<br>
        <code>sudo ln -s /Applications/mpv.app/Contents/MacOS/mpv /usr/local/bin/mpv</code>
    </p>
</body>

</html>
