<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-400italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/static/zy.css" />
</head>

<body>
    {{ rendered_header }}
    <h3>XTreme IPTV</h3>
    <p>Add a playlist/source with your IPTV app, use the XC/XTreme setting when adding. If its not available, follow the
        regular IPTV instructions.<br>
        Server: <code>{{ server_base_url }}</code><br>
        Username: <code>a</code><br>
        Password: <code>a</code>
    </p>
    <h3>IPTV</h3>
    <p>Point your IPTV app at one of, some apps only accept the .m3u or .m3u8 extensions:
        <code class="code-block">{{ server_base_url }}/iptv</code>
        <code class="code-block">{{ server_base_url }}/iptv.m3u</code>
        <code class="code-block">{{ server_base_url }}/iptv.m3u8</code>
        The channel list will only provide
        entries with a quality greater than zero.
    </p>
    <p>EPG is available at, this should cover the default values:
        <code class="code-block">{{ server_base_url }}/epg</code>
        <code class="code-block">{{ server_base_url }}/epg.xml</code>
        <code class="code-block">{{ server_base_url }}/xmltv</code>
        <code class="code-block">{{ server_base_url }}/xmltv.php</code>
    </p>
    <p>Some apps will only work if this site is on https.</p>
    <h3>Recommended Apps</h3>
    <p>Many apps are made to be players for their subscription IPTV services, and on the side offer loading external
        playlists. These recommendations are tested, free and don't nag you to pay.</p>
    <h4>Tested to work</h4>
    <table>
        <tr>
            <th>Platform</th>
            <th>App</th>
            <th>Link</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>iOS<br>Apple TV<br>Android<br>Android TV</td>
            <td>iMPlayer</td>
            <td><a href="https://implayer.tv/home">Website</a></td>
            <td>Great free multiplatform player.</td>
        </tr>
        <tr>
            <td>Android<br>Android TV</td>
            <td>M3UAndroid</td>
            <td><a href="https://github.com/oxyroid/M3UAndroid">GitHub</a>, <a
                    href="https://apt.izzysoft.de/fdroid/index/apk/com.m3u.androidApp">IzzyOnDroid</a></td>
            <td>Not on play store, you have to install manually.</td>
        </tr>
        <tr>
            <td>Android TV</td>
            <td>TiviMate</td>
            <td><a href="https://play.google.com/store/apps/details?id=ar.tvplayer.tv">Google Play</a></td>
            <td>Good player for Android TV</td>
        </tr>
        <tr>
            <td>Android TV</td>
            <td>Sparkle TV</td>
            <td><a href="https://play.google.com/store/apps/details?id=se.hedekonsult.sparkle">Google Play</a></td>
            <td>Good player for Android TV</td>
        </tr>
        <tr>
            <td>Roku<br>LG<br>Samsung</td>
            <td>IPTV Pro by X-PLAYERS</td>
            <td><a href="https://iptvproplayer.live/">Website</a></td>
            <td>7 day trial, one-off paid IPTV app for Smart TVs</td>
        </tr>
        <tr>
            <td>Android TV</td>
            <td>TV IRL</td>
            <td><a href="https://play.google.com/store/apps/details?id=by.stari4ek.tvirl">Google Play</a></td>
            <td>Only use on Sony, TCL or other integrated Android TV devices.<br>Integrates with the regular TV
                listings.<br> User
                interface is weird.</td>
        </tr>
    </table>
    <h4>Works, but hard to recommend</h4>
    <table>
        <tr>
            <th>Platform</th>
            <th>App</th>
            <th>Link</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Android, Android TV</td>
            <td>ProgTV</td>
            <td><a href="https://play.google.com/store/apps/details?id=com.progdvb.progtva">Link</a></td>
            <td>Interface is a bit weird, likes to loop back when buffering fails.</td>
        </tr>
        <tr>
            <td>iOS</td>
            <td>Flex IPTV</td>
            <td><a href="https://apps.apple.com/ae/app/flex-iptv/id1182930255">App Store</a></td>
            <td>You need to toggle device rotation to get landscape mode, no EPG</td>
        </tr>
        <tr>
            <td>Android</td>
            <td>Live TV</td>
            <td><a href="https://play.google.com/store/apps/details?id=com.cy8018.livetv">Google Play</a></td>
            <td>Great, simple, no EPG</td>
        </tr>
        <tr>
            <td>iOS, Apple TV</td>
            <td>UHF</td>
            <td><a href="https://apps.apple.com/us/app/uhf-love-your-iptv/id6443751726">App Store</a></td>
            <td>Best app I have used, has ads and a watermark if you don't pay. $60 AUD for a lifetime license.</td>
        </tr>
    </table>
    <h4>TESTED NOT WORKING</h4>
    <p>
        DangoPlayer, will try fix<br>
        Jellyfin app, will try fix<br>
        UniTV, will try fix<br>
        Purple Simple, will try fix<br>
        Opus<br>
        1-Stream Player by Purple<br>
    </p>
    <h3>More IPTV Sources</h3>
    <table>
        <tr>
            <th>Source</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td><a href="https://bugsfreeweb.github.io/LiveTVCollector/">Live TV Collector</a></td>
            <td>Country list takes a while to populate.</td>
        </tr>
        <tr>
            <td><a href="https://github.com/iptv-org/iptv">IPTV-org lists</a></td>
            <td></td>
        </tr>
    </table>

</body>

</html>
