---
name: Test

on:
  push:
    branches:
      - main
      - test
    paths-ignore:
      - "**/README.md"
      - "**/README*.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pytest:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ["3.14"] # Don't bother with beta versions, slow on github. https://github.com/actions/python-versions/releases
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --extra test

      - name: Test with pytest
        run: uv run pytest --cov=acere --cov-report=xml --junitxml=junit.xml -o junit_family=legacy

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  sphinx-build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: pytest
    strategy:
      matrix:
        python-version: ["3.14"]
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --extra docs

      - name: Build Sphinx documentation
        run: |
          uv run sphinx-build --fail-on-warning -b html docs docs_out
